*/.idea/

*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__

./docker/backend/Dockerfile
./docker/estorehouse/Dockerfile
./docker/nginx/Dockerfile
.dockerignore
.gitignore
README.md
.tox
tox.ini
.flake8
.venv
.github

