<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <link rel="icon" href="{% static 'img/icon.png' %}">
    <title>{% block title %} Online Bookstore {% endblock %} </title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' >
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook-f "></i></a>
                </li>
      
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href=" https://youtu.be/Unnb1LnobJI " target="_blank">
                        <i class="fab fa-youtube"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tooltip" data-placement="top" title="Call Us"
                       href="tel:+380504939150"><i class="fas fa-phone"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tooltip" data-placement="top" title="Mail Us"
                       href="mailto:oleksii.levenets@icloud.com"><i class="far fa-envelope"></i></a>
                </li>
            </ul>

            <ul class="navbar-nav md-auto">
                <h3 style="color: skyblue"><marquee behavior="scroll" direction="left" width="600">
                    BookShop. Hillel. PythonPro.</marquee></h3>

            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_superuser %}
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                   <button type="button" class="btn btn-outline-primary">
                        AdminSite</button></a>
                </li>

                <li class="nav-item">
                        <a class="nav-link" href="/eshop_api/">
                   <button type="button" class="btn btn-outline-primary">
                        API</button></a>
                </li>
                {% endif %}


                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user"></i>
                            User: {{user.username}}</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>


                    <li class="nav-item">
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}

                                 <a class="nav-link" href="{% url 'cart:cart_detail' %}" style="color: red">
                                     <i class="fas fa-shopping-cart"></i>{{ total_items }}</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'cart:cart_detail' %}" style="color: red">
                                    <i class="fas fa-shopping-cart"></i>0</a>
                            {% endif %}
                        {% endwith %}
                    </li>
                
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-shopping-cart"></i></a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </nav>

     <div class="container-fluid">
        <div class="row" style="margin-top:-3% ">

            <div class="col-12" style="margin-top:2.6%">
                <nav class="navbar navbar-expand-lg navbar-light bg-info rounded">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'shop:product_list' %}">
                    <i class="fas fa-home" style="color: white"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'shop:product_list' %}">
                    Books</a></li>

                {% if user.is_authenticated %}
                    <li  class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                         id="avbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false" style="color: white" >
                         My Account</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <ol class="list-unstyled">
                                <li><a class="nav-link" href="{% url 'profile' %}" style="color:red">Profile</a></li>
                                <li> <a class="nav-link" href="{% url 'cart:cart_detail' %}" style="color: red">Cart:
                                    {% with total_items=cart|length %}
                                        {% if cart|length > 0 %}
                                            {{ total_items }} item{{ total_items|pluralize }},
                                                                                $ {{ cart.get_total_price }}
                                        {% else %}
                                            0 items
                                        {% endif %}
                                    {% endwith %}</a>
                                </li>

                                {% if cart|length > 0 %}
                                <li><a href="{% url 'orders:order_create' %}" class="nav-link" style="color:red">
                                    Order Create</a></li>
                                {% endif %}

                                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" style="color:red">
                                    Logout</a></li>

                            </ol>
                        </div>
                    </li>
                {% endif %}

              </ul>
            </div>
                <ul class="navbar-nav ml-auto">
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search' value="{{search_term}}" size="50px" minlength="3" maxlength="8">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </ul>
    </nav>
</div>
</div>
</div>


<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-white">

</nav>
</div>

<!-- Messages -->
{% if messages %}
<div class="container-fluid p-0">
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}
        alert-dismissible fade show">
          {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
{% endif %}
<!-- /Messages -->

<!-- Modal Window -->
<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
</div>
<!-- /Modal Window -->

{% block content %}

{% endblock %}

<hr>
<div class="copyright">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="copyright_content">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | BookShop
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
